@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

$fuentePrincipal: 'Poppins', sans-serif;

// Media Queries

$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

// Colores