@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$fuentePrincipal: 'Poppins', sans-serif;

// Media Queries

$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

// Colores

$white: #fff;
$gray: #242B35;
$orange: #FC4D19;
$red: #E8432E;
$blue: #399BE2;
$bg-primary: #13161C;
$bg-secondary: #343A43;

$bg-gradient-blue: linear-gradient(90deg, rgba(57,155,226,1) 0%, rgba(57,155,226,0.25) 100%);
$bg-gradient-orange: linear-gradient(90deg, rgba(252,77,25,1) 0%, rgba(252,77,25,0.25) 100%);



