@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$fuentePrincipal: 'Poppins', sans-serif;

// Media Queries

$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

// Colores

$white: #fff;
$gray: #242B35;
$orange: #FC4D19;
$red: #E8432E;
$blue: #399BE2;
$bg-primary: #13161C;
$bg-secondary: #343A43;



