@use 'utils/variables' as v;
@use 'utils/mixins' as m;
@use '../utils/' as *;


.criterios{
    

    .imagenDigni{
        height: 20rem;

        @include m.bgDigni('../../build/img/1.webp', 18rem);
      
        @include m.laptop { 
            width: 50%;
            height: 40rem;
            @include m.bgDigni('../../build/img/6.webp', 28rem);
            transform: rotateY(180deg)
        }
      
        @include m.desktop { 
            width: unset;
            height: 32rem;
            @include m.bgDigni('../../build/img/1.webp', 28rem);
        }
      }
}

